Flask==0.11.1
Flask-Bootstrap==3.3.7.0
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-OAuth==0.12
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-Social==1.6.2
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
httplib2==0.19.0
Jinja2==2.8
SQLAlchemy==1.0.15
tinycss==0.3
virtualenv==15.0.3
Werkzeug==0.11.11