<!doctype html>
<title>Log Me In</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {
    background: #002a33;
    margin: 0px;
    padding: 0px;
}
</style>
<header>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
                <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
            </div>
                {% if 'user' in session %}
                <ul class="nav navbar-nav navbar-right">
                    {% if session['user'][0] != 'admin' %}
                    <li><a href="{{ url_for('user_settings') }}">Profile</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('friends') }}">Friends</a></li>
                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('new_account') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
                {% endif %}
        </div>
    </nav>
</header>
{% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
{% block head %}{% endblock %}
<div style="background:#fffff4; margin-right: 40px; margin-left: 40px">
    <div style="margin: 0px 60px; margin-bottom: 50px; margin-top: 30px;">
{% block body %}{% endblock %}
    </div>
</div>
{% block footer %}
<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
		<p class="navbar-text copyright">&copy; Ethan Lowenthal 2016</p>
		<ul class="nav navbar-nav navbar-right">
            <li><a href="#" type="button" data-toggle="modal" data-target="#contact">Contact Me</a>
			<li><a href="https://github.com/EthanLowenthal/userloginheroku" target="_blank">GitHub</a></li>
		</ul>
	</div>
</nav>

  <div class="modal fade" id="contact" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <h2 class="modal-title">Contact</h2>
            <form action="{{ url_for('home') }}" method='post'>
                <h3>Message:</h3>
                <input type=text class="form-control" placeholder="Message" aria-describedby="basic-addon1" name=message>
                <h3>Your Email:</h3>
                <input type=email class="form-control" placeholder="Your Email" aria-describedby="basic-addon1" name=email>
                <br>
                <button type="submit" class="btn btn-default">Send Message</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
